@{
    ViewData["Title"] = "Add new Category";
}
<h1>Add new Category</h1>
<form>
    <fieldset>
        <label>Name: *</label>
        <input name="name" required />
    </fieldset>
    <button class="btn btn-primary offset-2">Save</button>
</form>