@model Category;

@{
    ViewData["Title"] = "Add new Category";
}
<h1>Add new Category</h1>
<form method="post">
    <fieldset>
        <label>Name: *</label>
        <input name="Name" asp-for="Name" required />
    </fieldset>
    <button class="btn btn-primary offset-2">Save</button>
</form>