@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Step It Up!</h1>
    <p>Have we ever got great shoes for you!</p>
    <p>Site built for COMP2084 - Summer 2025.</p>
</div>
